@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

:root {
  font-size: 16px;
}

* {
  font-family: "JetBrains Mono", Courier, Consolas, monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header * {
  background-color: #cacaca;
  font-family: system-ui,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif !important;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #1E1E1E;
  overflow: hidden;
}

#header {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
}

#header > select,
#header > label,
#header > button {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.2rem 0.4rem;
  margin-left: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.settings {
  width: 50vw;
}

.modal-content h2 {
  margin-top: 0px;
}

.log-modal {
  background-color: #0D0D0D;
  color: #C0C0C0;
  padding: 10px;
}

.noselect {
  user-select: none;
}

.spacebetween {
  display: flex;
  justify-content: space-between;
}

.btn-close {
  user-select: none;
  width: 32px;
  height: 32px;
  display: inline-block;
  text-align: center;
  line-height: 25px;
  font-size: 2em;
}

.settings form {
  display: flex;
  user-select: none;
  flex-direction: column;
}

.settings label {
  display: flex;
  justify-content: space-between;
}

.settings input, .settings select {
  max-width: 300px;
  border: 1px solid black;
}

.folder-input {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.folder-input:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.settings input {
  margin-bottom: 0.5rem;
  width: 80%;
}

.monaco-editor {
  border: none;
}

#main {
  width: 100%;
}

.split {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #333;
}

.split .gutter-horizontal {
  cursor: col-resize;
}
